@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(25, 25, 25);
  background-color: #ffffff;
}

@layer base {
  body {
    @apply font-Nunito;
  }

  p {
    @apply text-xl font-light leading-relaxed;
  }

  pre {
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

@layer components {
  .circle-digit {
    @apply rounded-full bg-white border-2 border-gray-500 w-6 h-6 text-sm font-semibold inline-block text-center items-center;
  }

  .icon-label-button {
    @apply flex items-center transition-transform hover:scale-110 bg-slate-500 shadow-md hover:shadow-xl rounded-full px-2 pr-4 py-2 h-11;
  }

  .icon-label-button > span {
    @apply ml-2 font-semibold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tcontainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.sr { background-color: #ffabdb; }
.tm { background-color: #ddb2ff; }
.st { background-color: #a7c0ff; }
.nc { background-color: #7fd5c1; }

th {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
}

thead th {
  background-color: #C0C0C0;
}

td {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
